<!-- <div class="main">
    <div *ngIf="post$ | async as post; else loading">
        <small>{{post.author}}, {{post.date}}</small>
        <hr>
        <div class="img">
            <img src="{{'http://localhost:1337' + post.img.url}}">
        </div>
        <h1>{{post.title}}</h1>
        <hr>
        <p>{{post.text}}</p>
        <hr>
        <div class="submit">
            <textarea cols="100" rows="2" placeholder="Ввведите комментарий..." [(ngModel)]="text" #textArea></textarea>
            <button class="btn" (click)="addComment(post.id)">{{sent ? 'Отправить' : 'Редактировать'}}</button>
        </div>
        <div *ngIf="comments$ | async as comments; else loading2">
            <h4 *ngIf="comments.length > 0">Комментарии({{comments.length}}):</h4>
            <div *ngFor="let comment of comments; let idx = index">
                <div class="info">
                    <small>{{comment.author}}</small>
                    <small>{{comment.date}}</small>
                </div>
                <div class="comment">
                    <span>{{comment.text}}</span>
                    коммент<div *ngIf="comment.author === user"> 
                    <div *ngIf="true">
                        <button class="btn" (click)="changeComment(comment.id, comment.text,textArea)">Редактировать</button>
                        <button class="btn" (click)="deleteComment(comment.id)">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <p class="text-center">Загружаю пост...</p>
</ng-template>
  
<ng-template #loading2>
    <p class="text-center">Загружаю комментарии...</p>
</ng-template> -->
<div *ngFor="let comment of comments$ | async">
    <p>{{comment.text}}</p>
</div>