.auth {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    input, button {
        max-width: 200px;
        margin: 0 auto;
    }
    input {
        margin-bottom: 25px;
    }
}