.form {
    max-width: 300px;
    margin: 150px auto;
    h2, h6 {
        text-align: center;
    }
    h2 {
        margin-bottom: 30px;
    }
    input {
        width: 100%;
    }
    .btn {
        width: 100%;
        margin-top: 20px;
    }
    button[type='button'] {
        background-color: brown;
    }
}